/statsPanel.class
/statsPanel$1.class
/statsPanel$2.class
/statsPanel$3.class
/statsPanel$4.class
/statsPanel$5.class
/statsPanel$1$1.class
/statsPanel$1$2.class
/statsPanel$1$3.class
/statsPanel$1$4.class
